body {
  margin: 0;
  font-family: "배달의민족 을지로체 TTF", "배달의민족을지로체TTF", "bm-euljiro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
